.admin_wrap{
    margin-top: 100px;
    text-align: center;
}
.admin_wrap .admin_title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}
.admin_wrap .admin_header {
    background-color: #7ED6E4;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px 0;
    
}
.admin_wrap .admin_header .admin_menu{
    font-size: 20px;
    font-weight: 600;
    margin-left:20px
}
.admin_wrap .admin_header .admin_submenu{
    position: absolute;
    top: 30px;
    left: auto;
}
.admin_wrap .admin_body{
    background-color: #f0f4f8;;
    padding: 100px 0;
}
.admin_wrap .admin_body .admin_text{

}
.admin_wrap .admin_body .admin_list{

}

/* 테이블 */
.admin_wrap .admin_body .admin_list .list_table{
    margin: 30px auto;
    width: 1200px;
}
.admin_wrap .admin_body .admin_list .list_table th{
    background-color: #333;
    color: #fff
}
.admin_wrap .admin_body .admin_list .list_table td{
    background-color: #fff;
}
.admin_wrap .admin_body .admin_list .list_table th,
.admin_wrap .admin_body .admin_list .list_table td{
    text-align: center;
    padding: 10px 0;
}
.paging .pages .pageBtn{
    width: 30px;
    height:30px;
    background-color: #fff;
    border: 2px solid #333;
    margin-right:10px;
    border-radius: 50%; 
}
.paging .pages .pageBtn .active{
    border: 2px solid #42799b;
}
