.admin_wrap{
    margin-top: 120px;
    text-align: center;
}
.admin_wrap .admin_title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
}
.admin_wrap .admin_header {
    display: flex;
    justify-content: center;
    width: 1400px;
    margin: 0 auto;
    color: #fff;
}
.admin_wrap .admin_header .menu_box{
    position: relative;
    width: 145px;
    border-bottom: none;
    text-align: center;
    margin-right: 0;
    padding: 0 35px;
    /* border-radius: 20px 20px 0 0; */
    color: #000;
    line-height: 21px;
    border-right: 1px solid #ddd;
}
.admin_wrap .admin_header .menu_box:last-child{
    border-right: 0;
}

.admin_wrap .admin_header .menu_box .admin_menu{
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.admin_wrap .admin_header .menu_box .admin_menu:hover i{
    transform: rotate(180deg);
}

.admin_wrap .admin_header .menu_box .admin_menu i{
    font-size: 12px;
    vertical-align: middle;
    /* transition: 0.1s; */
}
.admin_wrap .admin_header .menu_box:hover .admin_submenu{
    max-height: 190px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.admin_wrap .admin_header .menu_box .admin_submenu{
    position: absolute;
    top: 145%;
    left: 50%;
    width: 145px;
    max-height: 0;
    overflow: hidden;
    transform: translate(-50%,0);
    background-color: #fff;
    transition: 0.5s;
}
.admin_wrap .admin_header .menu_box .admin_submenu .a_menus{
    /* margin: 15px 0;
    padding-bottom: 5px; */
    width: 100%;
    line-height: 47px;
    display: inline-block;
}
.admin_wrap .admin_header .menu_box .admin_submenu .a_menus:hover>a>span{
    display: inline-block;
    width: 100%;
    background-color: #f5f7fc;
    line-height: 47px;
    display: inline-block;
    font-weight: 600;
}
.admin_wrap .admin_header .menu_box .admin_submenu .a_menus:hover i{
    transform: rotate(180deg);
}

/* .admin_wrap .admin_header .menu_box .admin_submenu .a_menus:hover>a>span{
    cursor: pointer;
    font-weight: 600;
    border-bottom: 2px solid #42799b;
} */
.admin_wrap .admin_body{
    padding: 100px 0;
    min-height: 650px;
}
.admin_wrap .admin_body .admin_text{
    width: 1400px;
    margin: 0 auto;
    text-align: right;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}
.admin_wrap .admin_body #search_wrap{
    display: flex;
    justify-content: right;
    width: 1400px;
    margin: 0 auto;
    height: 61px;
    overflow: hidden;
}
.admin_wrap .admin_body #search_wrap form{
    width: 100%;
    text-align: left;
}
.admin_wrap .admin_body #search_wrap .member_chk{
    width: 300px;
    text-align: right;
    padding-top: 35px;
}
.admin_wrap .admin_body #search_wrap #chkMember,
.admin_wrap .admin_body #search_wrap #chkMember1,
.admin_wrap .admin_body #search_wrap #chkMember2{
    margin-top: 25px;
    margin-left: 20px;
    display: none;
}
.admin_wrap .admin_body #search_wrap .chkMember::after{
    margin-top: 25px;
    margin-left: 20px;
    position: absolute;
    content: '';
    top: 22%;
    left: -48px;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;

}
.admin_wrap .admin_body #search_wrap #chkMember:checked +.chkMember::after,
.admin_wrap .admin_body #search_wrap #chkMember1:checked +.chkMember::after,
.admin_wrap .admin_body #search_wrap #chkMember2:checked +.chkMember::after{
    margin-top: 25px;
    margin-left: 20px;
    position: absolute;
    content: '✔';
    top: 22%;
    left: -48px;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background-color: #42799b;
    text-align: center;
    color: #fff;
}

.admin_wrap .admin_body #search_wrap .chkMember{
    margin-left: 40px;
    width: 140px;
    padding-top: 35px;
    cursor: pointer;
    text-align: left;
    position: relative;
}

.admin_wrap .admin_body #search_wrap .chkMember:hover{
    color: #42799b;
    
}

.admin_wrap .admin_body #search_wrap .searchbox{
    border: 1px solid #CCC;
    /* border-radius: 10px; */
    height: 44px;
    padding: 0 4px;
    box-sizing: border-box;
    margin-left: 6px;
    background-color: #fff;
}
.admin_wrap .admin_body #search_wrap .searchbox:focus{
    border: 1px solid #ccc;
}
.admin_wrap .admin_body #search_wrap .searchSelect{
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    height: 44px;
    padding: 0 40px 0 4px;
    background-color: #fff;
    width: 200px;
}

.admin_wrap .admin_body #search_wrap .searchBtn{
    border: none;
    height: 44px;
    padding: 0 10px;
    margin-left: 6px;
    width: 110px;
    cursor: pointer;
    font-weight: 500;
    line-height: 4px;
    /* border-radius: 10px; */
    border: 1px solid #ccc;
    background-color: transparent;
    color: #000;
}

.admin_wrap .admin_body #search_wrap .searchBtn:hover{
    font-weight: 700;
    border-color: #42799b;
    color: #42799b;
}
/* 테이블 */
.admin_wrap .admin_body .admin_list .list_table{
    margin: 15px auto;
    width: 1400px;
    /* box-shadow: 1px 1px 10px #c0c0c0; */
    /* border-radius: 5px; */

}

.admin_wrap .admin_body .admin_list .list_table .select{
    border: 1px solid #ccc;
    border-radius: 3px;
    min-width: 100px;
    padding: 5px;
}
.admin_wrap .admin_body .admin_list .list_table .table_btn{
    background-color: #ffffff53;
    border: 1px solid #42799b;
    color: #42799b;
    padding: 7px 10px;
    border-radius: 15px;
    width: 85px;
    height: 32px;
    box-sizing: border-box;
}

.admin_wrap .admin_body .admin_list .list_table .table_btn:hover{
    font-weight: 700;
    box-sizing: border-box;
    background-color: #42799b;
    color: #fff;   
}
.admin_wrap .admin_body .admin_list .list_table th{
    font-weight: 500;
    /* background-color: #e0eafd; */
    /* color: #1a2867 */
    color: #000;
    border-bottom: 2px solid #bdbdbd;
}
.admin_wrap .admin_body .admin_list .list_table td{
   border-bottom: 1px solid #eee;
   /* background-color: #ffffff53; */
}
.admin_wrap .admin_body .admin_list .list_table th,
.admin_wrap .admin_body .admin_list .list_table td{
    text-align: left;
    padding: 10px 0px 10px 20px;
    height: 55px;
}
.admin_wrap .admin_body .admin_list .list_table th>input[type = "text"],
.admin_wrap .admin_body .admin_list .list_table td>input[type = "text"],
.admin_wrap .admin_body .admin_list .list_table td>textarea{
   border: 1px solid #ddd;
   border-radius: 3px;
   padding: 5px 10px;
   width: 600px;
}

.admin_wrap .admin_body .admin_list .list_table .DB_table{
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}
.admin_wrap .admin_body .admin_list .list_table .DB_table tr>td,
.admin_wrap .admin_body .admin_list .list_table .DB_table tr>th{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.admin_wrap .admin_body .admin_list .list_table .DB_table tr>th:first-child{
    background-color: #c7c7c72E;
}
/* 주석 03-16 */
.admin_wrap .admin_body .admin_list .admin_modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-45%);
    width: 1000px;
    height: 750px;
    background-color: #fff;
    border-radius: 20px;
    /* border: 5px solid #666; */
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.admin_wrap .admin_body .admin_list .admin_modal .closeBtn{
    border-radius: 50%;
    padding: 0 0 2px 1px;
    border: 2px solid #42799b;
    font-size: 18px;
    font-weight: 500;
    background-color: #fff;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    color: #42799b;
    margin-left: 940px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.admin_wrap .admin_body .admin_list .img_box{
    display: flex;
    justify-content: center;
}
.admin_wrap .admin_body .admin_list .img_box img{
    width: 18%;
    height: 160px;
    margin-bottom: 40px;
    border: 2px solid #fff;
}
.admin_wrap .admin_body .admin_list .img_box .roomImg{
    width: auto;
    height: 300px;
}
.admin_wrap .admin_body .admin_list .service_box{
    text-align: left;
    margin:0 50px 0px 50px;
    padding-bottom: 20px;
    border-bottom: 2px solid #cecece;
    
}
.admin_wrap .admin_body .admin_list .updateBtn{
    width: 200px;
    height: 60px;
    border: none;
    color: #0155ff;
    font-weight: 500;
    background-color: #fff;
    border-radius: 15px;
    border: 2px solid #0155ff;
}
.admin_wrap .admin_body .admin_list .updateBtn:hover{
    font-weight: 800;
}

.admin_wrap .admin_body .admin_list .service_box> ul> li> p{
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: 500;
}
.paging{
    display: flex;
    justify-content: right;
    width: 1400px;
    margin: 0 auto;
}
.paging .pages .pageBtn{
    width: 30px;
    height:30px;
    background-color: transparent;
    border: 1px solid #ddd;
    margin-right:10px;
}
.paging .pages .pageBtn:hover{
    /* border: 1px solid #42799b; */
    background-color: #f2f2f2;
    /* border-radius: 3px; */
    /* color: #42799b; */
}
.paging .pages .pageBtn.active{
    border: 1px solid #42799b;
    font-weight: 600;
    color: #fff;
    background-color: #42799b;
    /* border-radius: 3px; */
}
.paging .arrowbtn{
    font-weight: 600px;
    border: none;
    font-size: 17px;
    padding: 0 10px;
    background-color: #ffffff00;
}
.paging .arrowbtn:hover{
    color: #42799b;
}

.cheakboxgr>input{
    display: none;
}
.cheakboxgr>label{
    display: inline-block;
    margin: 1px 3px;
    border: 2px solid #ddd;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 20px;
}

.cheakboxgr>input[type="checkbox"]:checked + label {
  color: #42799b;
  border: 2px solid #42799b;
  font-weight: bold;
}

.insertBtn{
    border: none;
    height: 50px;
    padding: 0 10px;
    margin-left: 10px;
    width: 120px;
    cursor: pointer;
    font-weight: 600;
    line-height: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
}
.insertBtn>i{
    color: #42799b;
}

.insertBtn:hover{font-weight: 700;
    border: 1px solid #42799b;
    color: #42799b;
}

.admin_wrap .admin_body .admin_list .list_table .table_head >td{
    font-size: 15px;
}

.admin_wrap .admin_body .admin_list .list_table .table_head >td{
    font-size: 15px;
}

.admin_wrap .admin_body .admin_list .list_table .table_head >th,
.admin_wrap .admin_body .admin_list .list_table .table_head >td{
    text-align: center;
    padding: 0;
}

.service_box .info_list >li{
    margin-bottom: 18px;
}
.service_box .info_list >li>p>span{
    display: inline-block;
    width: 150px;
    font-size: 20px;
    font-weight: 600;
}

.service_box .guset_table{
    margin: 120px auto 10px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}
.service_box .guset_table tr>th{
    height: 70px;
    padding: 15px;
}
.service_box .guset_table tr>th>input{
    padding: 5px;
    height: 50px;
}
.service_box .guset_table tr>th:first-child{
    background-color: #e0eafd;
    color: #1a2867;
    font-weight: 600;
}
.service_box .guest_submit_box{
    width: 490px;
    margin: 0 auto;
    text-align: center;
}
.service_box .guest_submit{
    margin: 110px auto 50px;
    border: none;
    height: 50px;
    padding: 0 10px;
    margin-left: 10px;
    width: 120px;
    cursor: pointer;
    font-weight: 500;
    line-height: 40px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
}

.service_box .guest_submit:hover{
    font-weight: 700;
    border: 2px solid #42799b;
    color: #42799b;
}