<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="resort.board.mapper.BoardMapper">
	
	
<!-- 하나의 게시글 작성하여 추가하는 쿼리문 -->
<insert id="insertBoard" parameterType="BoardDTO" >
	INSERT INTO board(b_writer,b_title,b_pw,b_content,m_code,ref,re_step,re_level,b_upload)
	VALUES(#{b_writer},#{b_title},#{b_pw},#{b_content},#{m_code},
	(SELECT IFNULL(MAX(b.ref)+1,1) FROM board b),1,1,#{b_upload})
</insert>

<!-- 전체 게시글 목록을 출력하는 쿼리문 -->
<!-- public List<BoardDTO> getAllBoard(); -->
<select id="getAllBoard" resultType="BoardDTO">
	SELECT * FROM board ORDER BY b_code DESC 
</select>

<!-- Readcount 누적하여 조회수를 증가하는 메소드 -->
<update id="upReadCount" parameterType="BoardDTO">
	UPDATE board SET readcount = readcount+1 WHERE b_code=#{b_code}
</update>

<!-- 하나의 게시글 상세정보보기 -->
<select id="getOneBoard" resultType="BoardDTO" parameterType="BoardDTO">
	SELECT * FROM board WHERE b_code=#{b_code} AND m_code=#{m_code}
</select>

<!-- 하나의 게시글을 수정하는 메소드 -->
<update id="updateBoard" parameterType="BoardDTO">
	UPDATE board SET b_writer=#{b_writer}, b_title=#{b_title}, b_content=#{b_content}, b_upload=#{b_upload}
	WHERE b_code=#{b_code} AND b_pw=#{b_pw}
</update>

<!-- 글을 삭제하는 메소드 -->
<!-- @Param("num") int num,@Param("writerPw") String writerPw 
매퍼에서 파라미터로 매개변수 값을 받은 경우 SQL문에서 매개변수 생략한다.
-->
<delete id="deleteBoard">
	DELETE FROM board WHERE b_code=#{b_code} AND b_pw=#{b_pw}
</delete>

<!-- 내용 또는 제목으로 게시글 검색하는 메소드 -->
<!-- 검색: 
@Param("searchType") String searchType,
@Param("searchKeyword") String searchKeyword
-->
<!-- <select id="getSearchBoard" resultType="BoardDTO">
	SELECT * FROM board
	<where>SQL where절을 태그로 사용가능
		<choose>
		<when test="조건식 => a == b"> 
			<when test="searchType == 'subject'">
				subject LIKE CONCAT("%", #{searchKeyword}, "%")
			</when>when = else if와 같음. when을 여러개 쓰면 else if가 반복되는거임 
			<otherwise>otherwise = else와 같음.
				content LIKE CONCAT("%", #{searchKeyword}, "%")
			</otherwise>
		</choose>
	</where>
	 ORDER BY num DESC
</select> -->

<!-- 전체 게시글 수 -->
<select id="getAllcount" resultType="int">
	SELECT COUNT(*) FROM board
</select>

<!-- startRow ~ 한 페이지에 보여줄 레코드(=행의) 개수(pageSize)만큼 보여주는 메소드 -->
<select id="getPagelist" resultType="BoardDTO">
	SELECT * FROM board ORDER BY b_code DESC LIMIT #{startRow}, #{pageSize}
</select>


<!-- 검색 페이징에 필요한 메소드 -->
<select id="getSearchCount" resultType="int">
	SELECT COUNT(*) FROM board
		<where>
		    <if test="searchKeyword != null and searchKeyword != ''">
		        <choose>
		            <when test="searchType == 'b_title'">
		                b_title LIKE CONCAT('%', #{searchKeyword}, '%')
		            </when>
		            <when test="searchType == 'b_content'">
		                b_content LIKE CONCAT('%', #{searchKeyword}, '%')
		            </when>
		            <otherwise>
		                b_writer LIKE CONCAT('%', #{searchKeyword}, '%')
		            </otherwise>
		        </choose>
		    </if>
		</where>
</select>
<!-- 검색결과 노출 -->
<select id="getSearchPageList" resultType="BoardDTO">
	SELECT * FROM board
		<where>
		    <if test="searchKeyword != null and searchKeyword != ''">
		        <choose>
		            <when test="searchType == 'b_title'">
		                b_title LIKE CONCAT('%', #{searchKeyword}, '%')
		            </when>
		            <when test="searchType == 'b_content'">
		                b_content LIKE CONCAT('%', #{searchKeyword}, '%')
		            </when>
		            <otherwise>
		                b_writer LIKE CONCAT('%', #{searchKeyword}, '%')
		            </otherwise>
		        </choose>
		    </if>
		</where>
	ORDER BY b_code DESC LIMIT #{startRow}, #{pageSize}
</select>

<!-- getMyBoardCount 메소드 생성 -->
<!-- <select id="getMyBoardCount" resultType="int" parameterType="String">
	SELECT COUNT(*) FROM board WHERE m_email=#{m_email}
</select> -->

<!-- getMyBoardList 메소드 생성 -->
<!-- user_member의 id와 board의 id같은 게시글의 목록만 검색 -->
<!-- 두테이블의 JOIN을 진행한다. -->
<!-- <select id="getMyBoardList" resultType="BoardDTO">
	SELECT
		b.b_code,
		b.b_title,
		b.b_date,
		b.readcount,
		m.m_code as writer
	FROM board b
	INNER JOIN user_member m
	ON b.m_email = m.m_email
	WHERE b.m_email = #{m_email}
	ORDER BY b.b_code DESC
	LIMIT #{startRow}, #{pageSize}
</select> -->

	
</mapper>