<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="resort.reservation.mapper.ReservationMapper">
	
	<!-- 비회원 예약 내역 insert / public int ginsertReservation(ReservationDTO redto); -->
	<insert id="gInsertReservation" parameterType="ReservationDTO">
		INSERT INTO reservation (g_code, reservation_no, r_code, booker_name, check_in_date, check_out_date, original_price, discount_rate, final_price) 
		VALUES(#{g_code}, #{reservation_no}, #{r_code}, #{booker_name}, #{check_in_date}, #{check_out_date}, #{original_price}, #{discount_rate}, #{final_price})
	</insert>
	
	<!-- // 회원 예약 내역 insert public int mInsertReservation(ReservationDTO redto); -->
	<insert id="mInsertReservation" parameterType="ReservationDTO">
		INSERT INTO reservation (m_code, reservation_no, r_code, booker_name, check_in_date, check_out_date, original_price, discount_rate, final_price)
		VALUES(#{m_code}, #{reservation_no}, #{r_code}, #{booker_name}, #{check_in_date}, #{check_out_date}, #{original_price}, #{discount_rate}, #{final_price})
	</insert>
	
	<!-- // 회원 예약 내역 select public ResInfoDTO resSelect(@Param("reservation_no") String reservation_no); -->
	<select id="resSelect" resultType="ResInfoDTO">
		SELECT h.hotelName, r.roomName, re.check_in_date, re.check_out_date, re.original_price, re.discount_rate, re.coupon_used, re.final_price, re.booker_name, re.reserved_at, re.reservation_no FROM reservation re
		INNER JOIN room r
		ON r.r_code = re.r_code
		INNER JOIN hotel h
		ON h.h_code = r.h_code
		WHERE TRIM(re.reservation_no) = TRIM(#{reservation_no})
	</select>
	
</mapper>