<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="resort.reservation.mapper.ReservationMapper">
	
	<!-- 비회원 예약 내역 insert / public int ginsertReservation(ReservationDTO redto); -->
	<insert id="gInsertReservation" parameterType="ReservationDTO">
		INSERT INTO reservation (g_code, reservation_no, r_code, booker_name, check_in_date, check_out_date, original_price, discount_rate, final_price) 
		VALUES(#{g_code}, #{reservation_no}, #{r_code}, #{booker_name}, #{check_in_date}, #{check_out_date}, #{original_price}, #{discount_rate}, #{final_price})
	</insert>
	
	<!-- // 회원 예약 내역 insert public int mInsertReservation(ReservationDTO redto); -->
	<insert id="mInsertReservation" parameterType="ReservationDTO">
		INSERT INTO reservation (m_code, reservation_no, r_code, booker_name, check_in_date, check_out_date, original_price, discount_rate, coupon_used, final_price)
		VALUES(#{m_code}, #{reservation_no}, #{r_code}, #{booker_name}, #{check_in_date}, #{check_out_date}, #{original_price}, #{discount_rate}, #{coupon_used}, #{final_price})
	</insert>
	
	<!-- // 회원 예약 내역 select public ResInfoDTO resSelect(@Param("reservation_no") String reservation_no); -->
	<select id="resSelect" resultType="ResInfoDTO">
		SELECT h.hotelName, r.roomName, re.check_in_date, re.check_out_date, re.original_price, re.discount_rate, re.coupon_used, re.final_price, re.booker_name, re.reserved_at, re.reservation_no, h.h_Img, h.city 
		FROM reservation re
		INNER JOIN room r
		ON r.r_code = re.r_code
		INNER JOIN hotel h
		ON h.h_code = r.h_code
		WHERE TRIM(re.reservation_no) = TRIM(#{reservation_no})
	</select>
	
	<!-- // 비회원의 g_check가 0이면서 axios로 받아온 데이터와 동일한 예약정보만 select public ResInfoDTO guestSelect(@Param("reservation_no") String reservation_no, @Param("g_phone") String g_phone); -->
	<select id="guestSelect" resultType="ResInfoDTO">
		SELECT h.hotelName, r.roomName, re.check_in_date, re.check_out_date, re.original_price, re.discount_rate, re.coupon_used, re.final_price, re.booker_name, re.reserved_at, re.reservation_no, h.h_Img, h.city 
		FROM reservation re
		INNER JOIN room r
		ON r.r_code = re.r_code
		INNER JOIN hotel h
		ON h.h_code = r.h_code
		INNER JOIN guest g
		ON g.g_code = re.g_code
		WHERE TRIM(re.reservation_no) = TRIM(#{reservation_no}) AND TRIM(g.g_phone) = TRIM(#{g_phone}) AND g.g_check = 0 
	</select>
	
	<!-- // 모든 예약 내역 출력	public List<ReservationDTO> getAllReservation(); -->
	<select id="getAllRescount" resultType="int">
		SELECT COUNT(*) FROM reservation 
	</select>
	
	<!-- 예약정보 리스트 -->
	<select id="getResPagelist" resultType="ReservationMergeDTO">
		SELECT * FROM reservation r LEFT JOIN member m 
			on r.m_code = m.m_code 
			LEFT JOIN guest g 
			on r.g_code = g.g_code
            LEFT JOIN room rm
            on rm.r_code = r.r_code
            LEFT JOIN hotel h
            on rm.h_code = h.h_code ORDER BY re_code DESC
		LIMIT #{startRow}, #{pageSize}
	</select>
	
	
	
	<select id="getSearchResCount" resultType="int">
			SELECT COUNT(*) FROM reservation 
			<where>
				<choose>
					<when test="searchType == 'booker_name'">
						booker_name LIKE CONCAT("%",#{searchKeyword},"%")
					</when>
					<otherwise>
						reservation_no LIKE CONCAT("%",#{searchKeyword},"%")				
					</otherwise>
				</choose>
			</where>
		</select>
	
		<select id="getSearchResPageList" resultType="ReservationMergeDTO">
			SELECT * FROM reservation r LEFT JOIN member m 
			on r.m_code = m.m_code 
			LEFT JOIN guest g 
			on r.g_code = g.g_code
            LEFT JOIN room rm
            on rm.r_code = r.r_code
            LEFT JOIN hotel h
            on rm.h_code = h.h_code
			<where>
				<choose>
					<when test="searchType == 'booker_name'">
						booker_name LIKE CONCAT("%",#{searchKeyword},"%")
					</when>
					<otherwise>
						reservation_no LIKE CONCAT("%",#{searchKeyword},"%")				
					</otherwise>
				</choose>
			</where>
			ORDER BY r.re_code DESC
			LIMIT #{startRow}, #{pageSize}
		</select>
		
	<!-- // 비회원만 보이기 -->
	<select id="getAllRescount1" resultType="int">
		SELECT COUNT(*) FROM reservation WHERE g_code &gt; 0
	</select>
	
	<!-- 예약정보 리스트 -->
	<select id="getResPagelist1" resultType="ReservationMergeDTO">
		SELECT * FROM reservation r LEFT JOIN member m 
			on r.m_code = m.m_code 
			LEFT JOIN guest g 
			on r.g_code = g.g_code
            LEFT JOIN room rm
            on rm.r_code = r.r_code
            LEFT JOIN hotel h
            on rm.h_code = h.h_code WHERE r.g_code &gt; 0 ORDER BY r.re_code DESC
		LIMIT #{startRow}, #{pageSize}
	</select>
	
	
	
	<select id="getSearchResCount1" resultType="int">
			SELECT COUNT(*) FROM reservation 
			<where>
				WHERE g_code &gt; 0 AND
				<choose>
					<when test="searchType == 'booker_name'">
						booker_name LIKE CONCAT("%",#{searchKeyword},"%")
					</when>
					<otherwise>
						reservation_no LIKE CONCAT("%",#{searchKeyword},"%")				
					</otherwise>
				</choose>
			</where>
		</select>
	
		<select id="getSearchResPageList1" resultType="ReservationMergeDTO">
			SELECT * FROM reservation r LEFT JOIN member m 
			on r.m_code = m.m_code 
			LEFT JOIN guest g 
			on r.g_code = g.g_code
            LEFT JOIN room rm
            on rm.r_code = r.r_code
            LEFT JOIN hotel h
            on rm.h_code = h.h_code
			<where>
				WHERE r.g_code &gt; 0 AND
				<choose>
					<when test="searchType == 'booker_name'">
						booker_name LIKE CONCAT("%",#{searchKeyword},"%")
					</when>
					<otherwise>
						reservation_no LIKE CONCAT("%",#{searchKeyword},"%")				
					</otherwise>
				</choose>
			</where>
			ORDER BY re_code DESC
			LIMIT #{startRow}, #{pageSize}
		</select>
		
	<!-- // 회원만 보이기 -->
	<select id="getAllRescount2" resultType="int">
		SELECT COUNT(*) FROM reservation WHERE m_code &gt; 0
	</select>
	
	<!-- 예약정보 리스트 -->
	<select id="getResPagelist2" resultType="ReservationMergeDTO">
		SELECT * FROM reservation r LEFT JOIN member m 
			on r.m_code = m.m_code 
			LEFT JOIN guest g 
			on r.g_code = g.g_code
            LEFT JOIN room rm
            on rm.r_code = r.r_code
            LEFT JOIN hotel h
            on rm.h_code = h.h_code WHERE r.m_code &gt; 0 ORDER BY r.re_code DESC
		LIMIT #{startRow}, #{pageSize}
	</select>
	
	
	
	<select id="getSearchResCount2" resultType="int">
		SELECT COUNT(*) FROM reservation 
		<where>
			WHERE m_code &gt; 0 AND
			<choose>
				<when test="searchType == 'booker_name'">
					booker_name LIKE CONCAT("%",#{searchKeyword},"%")
				</when>
				<otherwise>
					reservation_no LIKE CONCAT("%",#{searchKeyword},"%")				
				</otherwise>
			</choose>
		</where>
	</select>
	
	<select id="getSearchResPageList2" resultType="ReservationMergeDTO">
		SELECT * FROM reservation r LEFT JOIN member m 
		on r.m_code = m.m_code 
		LEFT JOIN guest g 
		on r.g_code = g.g_code
           LEFT JOIN room rm
           on rm.r_code = r.r_code
           LEFT JOIN hotel h
           on rm.h_code = h.h_code
		<where>
			WHERE r.m_code &gt; 0 AND
			<choose>
				<when test="searchType == 'booker_name'">
					booker_name LIKE CONCAT("%",#{searchKeyword},"%")
				</when>
				<otherwise>
					reservation_no LIKE CONCAT("%",#{searchKeyword},"%")				
				</otherwise>
			</choose>
		</where>
		ORDER BY re_code DESC
		LIMIT #{startRow}, #{pageSize}
	</select>
		
		<!-- // 리뷰 상태 업데이트 함수 public int reviewStatusMod(@Param("m_email") String m_email);  -->
		<update id="reviewStatusMod">
			UPDATE reservation SET review_status = 2 WHERE DATE_ADD(check_out_date, INTERVAL 7 DAY) &lt; CURDATE() AND review_status = 0
		</update>
		
		<!-- public int updateResercation(ReservationDTO redto); -->
		<update id="deleteResercation" parameterType="int">
			UPDATE reservation r LEFT JOIN member m 
			on r.m_code = m.m_code 
			LEFT JOIN guest g 
			on r.g_code = g.g_code SET r.cancel = 1, r.cancel_date = now(), g.g_check = 1 WHERE r.re_code=#{re_code}
		</update>
		
		
		<!-- public int updateResercation(@Param("booker_name") String booker_name, @Param("re_code") int re_code, @Param("g_phone") String g_phone); -->
		<update id="updateResercation" >
			UPDATE reservation r 
			LEFT JOIN guest g 
			on r.g_code = g.g_code SET booker_name = #{booker_name}, g_phone = #{g_phone} WHERE re_code=#{re_code}
		</update>
		
		<!-- public int reviewMod(@Param("re_code") int re_code); -->
		<update id="reviewMod">
			UPDATE reservation SET review_status = 1 WHERE re_code = #{re_code}
		</update>
		
		<!-- // 리뷰 자동 업데이트 public void reviewUpdate(); -->
		<update id="reviewStatusUpdate">
			UPDATE reservation SET review_status = 2 WHERE DATE_ADD(check_out_date, INTERVAL 7 DAY) &lt; CURDATE() AND review_status = 0
		</update>
		
		<!-- // 예약하나를 찾는 컨트롤러 - 중복 예약 방지 public int reservationChk(@Param("r_code") int r_code, @Param("check_in_date") String check_in_date, @Param("check_out_date") String check_out_date);  -->
		<select id="reservationChk" resultType="int">
			SELECT COUNT(*)
		    FROM reservation
		    WHERE r_code = #{r_code}
		      AND check_in_date &lt; #{check_out_date}
			  AND check_out_date &gt; #{check_in_date}
		</select>
	
</mapper>