<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="resort.board.mapper.ReviewboardMapper">

	
	<select id="getReviewAll" resultType="ReviewboardDTO">
		SELECT * FROM reviewboard
	</select>
	
	<!-- // 객실별 별점 검색 public List<RatingDTO> getRatingAll(); -->
	<select id="getRatingAll" resultType="RatingDTO" >
		SELECT h.h_code, r.r_code, rb.rb_score FROM reviewboard rb 
		INNER JOIN room r 
		ON rb.r_code = r.r_code
		INNER JOIN hotel h ON h.h_code = r.h_code
	</select>
	
	<!-- // 객실별 별점 평균 public List<RatingDTO> getRatingAvgAll(); -->
	<select id="getRatingAvgAll" resultType="RatingDTO" >
		SELECT h.h_code, r.r_code, AVG(rb.rb_score) as 'scoreAvg' FROM reviewboard rb 
		INNER JOIN room r 
		ON rb.r_code = r.r_code
		INNER JOIN hotel h ON h.h_code = r.h_code
		GROUP BY h.h_code,r.r_code
	</select>

	<!-- (상세페이지 호텔과) 같은지역의 추천호텔의 별점평균 -->
	<select id="getRecommReviewAvg" parameterType="int" resultType="ReviewboardDTO">
		SELECT COUNT(rb.rb_score) as 'reviewCount', AVG(rb.rb_score) as 'scoreAvg', MIN(r.price) as 'minPrice' FROM reviewboard rb
		INNER JOIN room r ON rb.r_code = r.r_code
		INNER JOIN hotel h ON h.h_code = r.h_code
		WHERE h.h_code = #{hotelcode}
		GROUP BY h.h_code
	</select>

	
	<!--  // 호텔별 별점 평균 public List<RatingDTO> getHotelRatingAvgAll();  -->
	<select id="getHotelRatingAvgAll" resultType="HotelAvgDTO"> 
		SELECT h.h_code, IFNULL(AVG(rb.rb_score),0) as hotelAvg , IFNULL(COUNT(rb.rb_score),0) as scoreCount FROM reviewboard rb 
		RIGHT JOIN room r 
		ON r.r_code = rb.r_code
		INNER JOIN hotel h 
		ON h.h_code = r.h_code 
		GROUP BY h.h_code 
	</select>
	
	<!-- // 리뷰 insert public int reviewAdd(ReviewboardDTO redto); -->
	<insert id="reviewAdd" parameterType="ReviewboardDTO">
		INSERT INTO reviewboard(rb_score, m_code, r_code, re_code) VALUES(#{rb_score}, #{m_code}, #{r_code}, #{re_code})
	</insert>
	

	<!-- 리뷰정보 개수  -->
	<select id="getAllReviewcount" resultType="int">
		SELECT COUNT(*) FROM reviewboard re INNER JOIN room r
		on re.r_code = r.r_code
		INNER JOIN member m 
		on re.m_code = m.m_code
		INNER JOIN hotel h
		ON r.h_code = h.h_code
	</select>
	
	<!-- 리뷰정보 보이는 개수 -->
	<select id="getPageReviewlist" resultType="ReviewboardDTO">
		SELECT *FROM reviewboard re INNER JOIN room r
		on re.r_code = r.r_code
		INNER JOIN member m 
		on re.m_code = m.m_code
		INNER JOIN hotel h
		ON r.h_code = h.h_code ORDER BY re.rb_code DESC
		LIMIT #{startRow}, #{pageSize}
	</select>
	
	
	
	<select id="getReviewSearchCount" resultType="int">
		SELECT COUNT(*) FROM reviewboard re INNER JOIN room r
		on re.r_code = r.r_code
		INNER JOIN member m 
		on re.m_code = m.m_code
		INNER JOIN hotel h
		ON r.h_code = h.h_code
		<where>
			<choose>
				<when test="searchType == 'roomName'">
					r.roomName LIKE CONCAT("%",#{searchKeyword},"%")
				</when>
				<when test="searchType == 'm_nickName'">
					m.m_nickName LIKE CONCAT("%",#{searchKeyword},"%")
				</when>
				<otherwise>
					re.rb_score LIKE CONCAT("%",#{searchKeyword},"%")				
				</otherwise>
			</choose>
		</where>
	</select>

	<select id="getSearchPageReviewList" resultType="ReviewboardDTO">
		SELECT * FROM reviewboard re INNER JOIN room r
		ON re.r_code = r.r_code
		INNER JOIN member m 
		ON re.m_code = m.m_code
		INNER JOIN hotel h
		ON r.h_code = h.h_code
		<where>
			<choose>
				<when test="searchType == 'roomName'">
					r.roomName LIKE CONCAT("%",#{searchKeyword},"%")
				</when>
				<when test="searchType == 'm_nickName'">
					m.m_nickName LIKE CONCAT("%",#{searchKeyword},"%")
				</when>
				<otherwise>
					re.rb_score LIKE CONCAT("%",#{searchKeyword},"%")				
				</otherwise>
			</choose>
		</where>
		ORDER BY re.rb_code DESC
		LIMIT #{startRow}, #{pageSize}
	</select>
	
	<delete id="deleteReview" parameterType="int">
		DELETE FROM reviewboard WHERE rb_code=#{rb_code} 
	</delete>
	
	<!-- // 리뷰 update public int reviewMod(@Param("re_code") int re_code, @Param("rb_score") int rb_score); -->
	<update id="reviewMod" parameterType="ReviewboardDTO">
		UPDATE reviewboard SET rb_score = #{rb_score} WHERE re_code = #{re_code}
	</update>
	
	<!-- // 호텔별 각 점수들 갯수 public ScoreDTO hotelScoreCount(@Param("h_code") int h_code); -->
	<select id="hotelScoreCount">
		SELECT 
		r.h_code,
		(
		SELECT COUNT(*) FROM reviewboard rb
		INNER JOIN room r ON r.r_code = rb.r_code
		WHERE rb.rb_score = 1 AND r.h_code = #{h_code}
		) AS scoreOne,
		(
		select COUNT(*) FROM reviewboard rb
		INNER JOIN room r ON r.r_code = rb.r_code
		WHERE rb.rb_score = 2 AND r.h_code = #{h_code}
		) AS scoreTwo,
		(
		select COUNT(*) FROM reviewboard rb
		INNER JOIN room r ON r.r_code = rb.r_code
		WHERE rb.rb_score = 3 AND r.h_code = #{h_code}
		) AS scoreThr,
		(
		select COUNT(*) FROM reviewboard rb
		INNER JOIN room r ON r.r_code = rb.r_code
		WHERE rb.rb_score = 4 AND r.h_code = #{h_code}
		) AS scoreFou,
		(
		select COUNT(*) FROM reviewboard rb
		INNER JOIN room r ON r.r_code = rb.r_code
		WHERE rb.rb_score = 5 AND r.h_code = #{h_code}
		) AS scoreFiv
		FROM room r 
		WHERE r.h_code = #{h_code}
		GROUP BY r.h_code
	</select>
	
	<!-- // 객실별 평점 public List<RatingDTO> roomReview(@Param("h_code") int h_code); -->
	<select id="roomReview">
		SELECT r.h_code, r.r_code, rb.rb_score, r.roomName FROM reviewboard rb
		RIGHT JOIN room r ON r.r_code = rb.r_code WHERE r.h_code = #{h_code}
	</select>
	
</mapper>