<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="resort.product.mapper.RoomMapper">
	
	<!--  객실 전체 검색 public List<RoomDTO> getRoomAll(); -->
	<select id="getRoomAll" resultType="RoomDTO">
		SELECT * FROM room
	</select>
	
	<!-- // 객실 최소가 검색 public List<String> getMinPrice(); -->
	<select id="getMinPrice" resultType="RoomDTO">
		SELECT r.h.code, MIN(r.price) FROM room r
		INNER JOIN hotel h
		ON r.h_code = h.h_code
		GROUP BY r.h.code
	</select>
	
<!-- ================2026-02-23 수정 부분 ============= -->
	
	<!-- 회원정보 개수  -->
<select id="getAllRoomcount" resultType="int">
	SELECT COUNT(*) FROM room
</select>

<!-- 회원정보 보이는 개수 -->
<select id="getRoomPagelist" resultType="roomDTO">
	SELECT *FROM room ORDER BY r_code DESC
	LIMIT #{startRow}, #{pageSize}
</select>



<select id="getSearchRoomCount" resultType="int">
		SELECT COUNT(*) FROM room 
		<where>
			<choose>
				<when test="searchType == 'roomName'">
					roomName LIKE CONCAT("%",#{searchKeyword},"%")
				</when>
				<otherwise>
					maxOccupancy LIKE CONCAT("%",#{searchKeyword},"%")				
				</otherwise>
			</choose>
		</where>
	</select>

	<select id="getSearchRoomPageList" resultType="roomDTO">
		SELECT * FROM room 
		<where>
			<choose>
				<when test="searchType == 'roomName'">
					roomName LIKE CONCAT("%",#{searchKeyword},"%")
				</when>
				<otherwise>
					maxOccupancy LIKE CONCAT("%",#{searchKeyword},"%")				
				</otherwise>
			</choose>
		</where>
		ORDER BY r_code DESC
		LIMIT #{startRow}, #{pageSize}
	</select>
	<!-- =========2026-02-24 수정부분 JHJ =========== -->
	<insert id="insertRoom">
		INSERT INTO room(h_code,roomName,price,maxOccupancy,r_img)
		VALUES(#{h_code},#{roomName},#{price},#{maxOccupancy},#{r_img})
	</insert>
	
	<!-- // 예약된 객실 제외한 객실을 찾는 select / public List<RoomDTO> reservateRoom(ReservateRoomDTO resRdto); -->
	<select id="reservateRoom" resultType="RoomDTO" parameterType="ReservateRoomDTO">
		SELECT r.*
		FROM room r
		WHERE r.h_code = #{h_code}
		  AND r.maxOccupancy &gt;= #{maxOccupancy}
		  AND NOT EXISTS (
		    SELECT 1
		    FROM reservation re
		    WHERE re.r_code = r.r_code
		      AND re.cancel = 0
		      AND re.check_in_date &lt; #{check_out_date}
		      AND re.check_out_date &gt; #{check_in_date}
		  )
	</select>
	
	<!-- ===========2026-02-26 수정부분 JHJ ================ -->
	<!-- 하나의 호텔의 정보를 수정하는 쿼리 -->
	<update id="updateRoom" parameterType="RoomDTO">
		UPDATE room SET h_code = #{h_code},roomName = #{roomName},price = #{price},maxOccupancy = #{maxOccupancy},r_img = #{r_img} WHERE r_code =#{r_code}
	</update>
</mapper>