<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="resort.product.mapper.RoomMapper">
	
	<!--  객실 전체 검색 public List<RoomDTO> getRoomAll(); -->
	<select id="getRoomAll" resultType="RoomDTO">
		SELECT * FROM room
	</select>
	
	<!-- // 객실 최소가 검색 public List<String> getMinPrice(); -->
	<select id="getMinPrice" resultType="RoomDTO">
		SELECT r.h.code, MIN(r.price) FROM room r
		INNER JOIN hotel h
		ON r.h_code = h.h_code
		GROUP BY r.h.code
	</select>
	
<!-- ================2026-02-23 수정 부분 ============= -->
	
	<!-- 회원정보 개수  -->
<select id="getAllRoomcount" resultType="int">
	SELECT COUNT(*) FROM room
</select>

<!-- 회원정보 보이는 개수 -->
<select id="getRoomPagelist" resultType="roomDTO">
	SELECT *FROM room ORDER BY r_code DESC
	LIMIT #{startRow}, #{pageSize}
</select>



<select id="getSearchRoomCount" resultType="int">
		SELECT COUNT(*) FROM room 
		<where>
			<choose>
				<when test="searchType == 'roomName'">
					roomName LIKE CONCAT("%",#{searchKeyword},"%")
				</when>
				<otherwise>
					maxOccupancy LIKE CONCAT("%",#{searchKeyword},"%")				
				</otherwise>
			</choose>
		</where>
	</select>

	<select id="getSearchRoomPageList" resultType="roomDTO">
		SELECT * FROM room 
		<where>
			<choose>
				<when test="searchType == 'roomName'">
					roomName LIKE CONCAT("%",#{searchKeyword},"%")
				</when>
				<otherwise>
					maxOccupancy LIKE CONCAT("%",#{searchKeyword},"%")				
				</otherwise>
			</choose>
		</where>
		ORDER BY r_code DESC
		LIMIT #{startRow}, #{pageSize}
	</select>
	
	
</mapper>