<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="HotelDTO" type="resort.product.dto.HotelDTO" />
		<typeAlias alias="HotelPriceDTO" type="resort.product.dto.HotelPriceDTO" />
		<typeAlias alias="HotelRatingDTO" type="resort.product.dto.HotelRatingDTO" />
		<typeAlias alias="HotelMergeDTO" type="resort.product.dto.HotelMergeDTO" />
		<typeAlias alias="RoomDTO" type="resort.product.dto.RoomDTO" />
		<typeAlias alias="ReviewboardDTO" type="resort.board.dto.ReviewboardDTO" />
		<typeAlias alias="NoticeDTO" type="resort.board.dto.NoticeDTO" />
		<typeAlias alias="RatingDTO" type="resort.board.dto.RatingDTO" />
		<typeAlias alias="MemberDTO" type="resort.member.dto.MemberDTO" />
		<typeAlias alias="HotelAvgDTO" type="resort.board.dto.HotelAvgDTO"/>
		<typeAlias alias="HotelMergeDTO" type="resort.product.dto.HotelMergeDTO"/>
		<typeAlias alias="ReservationDTO" type="resort.reservation.dto.ReservationDTO"/>
		<typeAlias alias="GuestDTO" type="resort.member.dto.GuestDTO"/>
		<typeAlias alias="BoardDTO" type="resort.board.dto.BoardDTO" />
		<typeAlias alias="ReservateRoomDTO" type="resort.product.dto.ReservateRoomDTO"/>
		<typeAlias alias="MyPageDTO" type="resort.member.dto.MyPageDTO"/>
		<typeAlias alias="ResInfoDTO" type="resort.reservation.dto.ResInfoDTO"/>
		<typeAlias alias="ScoreDTO" type="resort.board.dto.ScoreDTO"/>
		<typeAlias alias="ReservationMergeDTO" type="resort.reservation.dto.ReservationMergeDTO"/>
		<typeAlias alias="RoomMergeDTO" type="resort.product.dto.RoomMergeDTO" />
	</typeAliases>
</configuration>