<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="HotelDTO" type="resort.product.dto.HotelDTO" />
		<typeAlias alias="RoomDTO" type="resort.product.dto.RoomDTO" />
		<typeAlias alias="ReviewboardDTO" type="resort.board.dto.ReviewboardDTO" />
		<typeAlias alias="RatingDTO" type="resort.board.dto.RatingDTO" />
		<typeAlias alias="MemberDTO" type="resort.member.dto.MemberDTO" />
	</typeAliases>
</configuration>