.passFind{
    margin:200px auto 60px;
    width: 500px;
    text-align: center;
}
.passFind .tit{
    margin-bottom: 10px;
    text-align: left;
}
.passFind h2{
    text-align: center;
    margin: 100px 0 30px 0;
    font-size: 30px;
}
.passFind input{
    padding: 15px 10px 15px 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #f0f0f0;
    width: 100%;
}
.passFind button{
    background-color: rgb(66, 121, 155);
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 0;
}
.passFind span{
    display: block;
    color: red;
    margin-top: 10px;
}

.passFind .result{
    font-size: 20px;
    line-height: 51px;
}