/* 전체 css */
.Guest_container{
    width: 1200px;
    margin: 10px auto;
    margin-bottom: 310px;
    margin-top: 200px;
}
.Guest_container .Guest_title{
    text-align: center;
    margin: 250px 0 30px 0;
    font-size: 30px;
}
/* 비회원 form */
.Guest_container .Guest_form{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}
/* label, input css */
.Guest_container .Guest_form label,
.Guest_container .Guest_form input{
    margin-bottom: 10px;
}
/* 예약번호 css */
.Guest_container .Guest_form #reservation_no{
    padding: 15px 10px 15px 25px;
    border-radius: 10px;
    height: 58px;
    border: none;
    outline: none;
    background-color: #f0f0f0;
}
.Guest_container .Guest_form .guestIdInfo{
    margin-bottom: 50px;
}
/* 핸드폰 번호 css */
.Guest_container .Guest_form .guestPhone{
    width: 500px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
}
/* 핸드폰 번호 input css */
.Guest_container .Guest_form .guestPhone > input[type='text']{
    width: 160px;
    padding: 20px 10px 10px 60px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #f0f0f0;
}
/* 확인 버튼 */
.Guest_container .Guest_form .guestBtn{
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    border: none;
}
/* 회원이라면 로그인으로 가는 링크 */
.Guest_container .LoginGo{
    text-align: center;
    margin-top: 30px;
}
.Guest_container .LoginGo .userLogin{
    margin-top: 10px;
    border: none;
    background-color: transparent;
    font-size: 18px;
}
.Guest_container .LoginGo .userLogin:hover{
    cursor: pointer;
    text-decoration: underline;
}
/* 모달 ----------------------------------------------------------------------------------------- */
.Guest_container .Guest_modal_overlay{
    position: fixed;
    background-color: #333;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.1);
    z-index: 998;
}
.Guest_container .Guest_modal{
    /* text-align: center;
    margin: 90px auto;
    width: 800px;
    height: 650px;
    background-color: #fff;
    border: 15px solid #cccdcf;
    border-radius: 10px; */
}
.Guest_container .pay2_title{
    font-weight: 700;
    padding: 20px 0 10px 0;
    font-size: 25px;
    margin: 0 auto;
    text-align: center;
    /* margin: 50px 0 10px 0; */
}
.payHotelimg{
    width:500px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
hr {
  margin-top: 10px;
  width: 450px;
  border: none;              /* 기본 스타일 제거 */
  border-top: 1px solid rgb(214, 214, 214);  /* 점선 + 색상 */
}
.Guest_container .pay2_coment{
    margin: 20px 0;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}
.Guest_container .pay2_table{
    width: 500px;
    height: 830px;
    border-collapse: separate;
    border-spacing: 0;
    margin: 90px auto;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 0px 18px #999999;
}
.Guest_container .pay2_table .pay2_list_title{
    text-align: left;
    width: 150px;
    /* height: 10px; */
    padding: 10px 25px 10px;
    font-size: 15px;
    font-weight: bold;
}
.Guest_container .pay2_table .pay2_list{
    text-align: left;
    width: 150px;
    /* height: 30px; */
    padding: 0 25px 0;
    font-size: 13px;
    font-weight: 500;
    color: #646464;
}
.Guest_container .pay2_table .pay2_list2{
    text-align: right;
    width: 150px;
    /* height: 30px; */
    padding: 0 25px 0;
    font-size: 13px;
    font-weight: 500;
}
.empty-row td {
    height: 60px;
    text-align: center;
}
.Guest_container .Guest_modal .Guest_btns .move_main{
    display: block;
    background-color: #42799b;
    color: #fff;
    border: none;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: 600;
}